.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.text {
  margin: 0;
}
.text_theme_dark {
  color: white;
}
.header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.header__logo {
  width: 228px;
  height: 32px;
  background-image: url(images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  display: flex;
  width: 730px;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
  z-index: 2;
}

.header__title_text {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(images/header-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 64px;
  right: 0px;
  
  z-index: 0;
}

/* ниже написаны стили для блока descriptiom */

.description{
  margin-bottom: 100px;
}

.description__two-columns {
  margin: 0;
  padding: 0;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.description__two-columns_brief {
  display: flex;
  flex-direction: row;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.description__two-columns_main-text {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.description__two-columns_pagraph {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.description__two-columns_span-accent {
  display: flex;
  box-sizing: content-box;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}

/* ниже написаны стили для блока digits */
.digits {
  margin-bottom: 100px;
}

.digits__title {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.digits__title_font {
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__subtitle {
  display: flex;
  margin: auto;
  width: 60%;
}

.digits__subtitle_font {
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.digits__table {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.digits__table_cell {
  display: flex;
  margin: 60px auto;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.digits__table_cell:nth-child(2) { /*Убираем отступ у второй строки в таблице*/
  margin: 0 auto 0;
}

.digits__table_cell-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.digits__table_cell-card_title {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.digits__table_cell-card_text {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.digits__table_cell-card_text_nomargin {
  margin-bottom: 0;
}

/* ниже написаны стили для блока feynman */
.feynman {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 890px;
  margin-bottom: 100px;
  position: relative;
}

.feynman__box {
  width: 100%;
  height: 790px;
  position: relative;
  top: 100px;
}

.feynman__box_main-illustration {
  width: 867px;
  height: 637px;
  background-image: url(images/feynman.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}

.feynman__box_title {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 648px;
  margin: auto;
  z-index: 5;
  margin-bottom: 70px;
}

.feynman__box_title-text {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__box_subtitle {
  display: flex;
  margin: auto;
  position: relative;
  justify-content: space-around;
  z-index: 4;
}

.feynman__box_subtitle-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__box_link {
  display: block;
  position: absolute;
  top: 50;
  right: 48px;
}

.feynman__box_link-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* ниже написаны стили для блока kaufman */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}
.digits__table_cell_theme_dark {
  margin: 80px auto;
  position: relative;
  z-index: 6;
}
.digits__title_theme_dark {
  position: relative;
  z-index: 7;
}

.digits__table_cell-card_theme_dark {
  width: 200px;
}
.digits__table_cell-card_text_theme_dark{
  margin-bottom: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(images/kaufman-triangle.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  margin-top: 100px;
  padding-top: 60px;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  position: relative;
}

.footer__columns {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-basis: 711px;
  width: 90%;
  height: 250px;
}

.footer__column_copyright {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /*justify-content: flex-end;*/
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  background-image: url(images/logo_place_footer.svg);
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  position: absolute;
  bottom: 18px;
  left: 0;
}

.footer__author_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_column-header {
  display: flex;
  margin-bottom: 20px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
}

.footer__column_content_column-header_text {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_content_column-links {
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
}

.footer__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.test {
  display: flex;
}ы